:root {
  --main-color: #F8B281;
  --secondary-color: #1B1B1B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

h1{
  font-size: 2.5rem;
  line-height: 125%;
  padding: 1rem 0rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 125%;
}

@font-face {
  font-family: 'argonite';
  src: url('./../fonts/orgonite.woff');
}

.front-page {
  color: #FFF;
  min-height: 100vh;
  padding: 5%;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation svg {
  cursor: pointer;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 1.5rem;
}

.logo h1 {
  font-size: 1rem;
  font-family: 'argonite', sans-serif;
  margin-left: 0.5rem;
}

.links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: #FFF;
  transform: translateX(100%);
}

.links a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--secondary-color);
}

.selling-point {
  font-family: 'argonite', sans-serif;
  text-align: center;
  text-shadow: 0 4px 12px #000;
  margin-top: 25vh;
}

.selling-point h1 {
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.49);
}

.ctas {
  margin-top: 2rem;
}

.ctas button {
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.216);
}

.cta-secondary {
  color: #FFF;
  background-color: var(--secondary-color);
}

.cta-main {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

.classes {
  font-family: 'argonite', sans-serif;
  text-align: center;
  color: var(--secondary-color);
}

.classes-description {
  margin-top: 2rem;
}

.classes-description h1 {
  font-size: 2rem;
  padding: 0rem;
}

.videos article {
  position: relative;
  margin-top: 2rem;
  padding: 5%;
}

.videos article h1 {
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: 2rem;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.49);
  color: var(--main-color);
  margin-top: 1rem;
  padding: 0rem;
  transform: translate(-50%, 10%);
}

.videos video {
  margin-top: 1rem;
  width: 100%;
  border-radius: 1rem;
}

.about {
  color: var(--secondary-color);
}

.about h1 {
  font-family: 'argonite', sans-serif;
  text-align: center;
}

.about p {
  font-size: 1.2rem;
  line-height: 150%;
}

.about img {
  margin-top: 2rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    padding: 10%;
  }

  .navigation {
    margin-top: -5rem;
  }

  .classes {
    margin-top: -5rem;
  }

  .videos {
    display: flex;
    gap: 2rem;
  }

  .videos article h1 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    font-size: 2rem;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.49);
    color: var(--main-color);
    margin-top: 1rem;
    padding: 0rem;
    transform: translate(-50%, 20%);
  }

  .about {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }

  .about h1 {
    text-align: start;
  }

  .about img {
    width: 50%;
  }
}
